<!--Footer-->
<footer class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
  <div>
    <a class="text-red-500 no-underline hover:no-underline" href="#">&copy; oiGenyo 2022</a>
    - all rights reserved
  </div>

  <p>
    <%= link_to 'Privacidade', '#' %>
    | <%= link_to 'Termos e condições', '#'%>
  </p>
</footer>