<div class="h-full">
  <!--Main-->
  <div class="container pt-14 md:pt-16 mx-auto flex flex-wrap flex-col items-center justify-center">
    <!--Left Col-->
    <div class="flex flex-col xl:w-2/5 justify-center overflow-y-hidden" style="align-items:center;">
      <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
        Inscreva-se
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-orange-400 via-yellow-500 to-red-500">
          Em nosso site
        </span>
        e mantenha-se atualizado!
      </h1>
      <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">
        Valorize seu tempo!<br>
        Receba nossas mensagens sempre que encontramos algo importante e que possa lhe interessar, cancele a qualquer momento, nos somos anti-spam!
      </p>

      <%= form_with url: welcome_please_send_email_path, class: "bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4" do |f|%>
        <div class="mb-4">
          <label class="block text-orange-300 py-2 font-bold mb-2" for="emailaddress">
            Inscreva-se em nosso site
          </label>
          <%= f.text_field :name,
            class: "shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out",
            placeholder:"Nome"
          %>
        </div>

        <div class="mb-4">
          <%= f.email_field :email,
            class: "shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out",
            placeholder:"seu@email.com"
          %>
        </div>

        <div class="flex items-center justify-between pt-4">
          <%= link_to 'Inscrever-se', welcome_email_sent_path,
            class: "bg-gradient-to-r from-red-800 to-red-500 hover:from-yellow-500 hover:to-red-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          %>
            
        </div>
      <% end %>
    </div>
  </div>
</div>