<div class="mx-auto padding-x-4 flex justify-center align-center">
  <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
    Ok, agora você não recebera mais as nossas atualizações<br> mas fique a vontade para voltar quando quiser
  </h1>
</div>
