<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
      <h1 style="text-align: center; background-image: linear-gradient(90deg, #4ade80 0, #4ade80 33%, #ec4899 66%, #ec4899 66%, #a855f7 100%); -webkit-background-clip: text; color: transparent; ">
      Newsletter</h1>
      <h3 style="margin-top: 52px; text-align: center; color: #a855f7; ">
      Welcome to <span style="background-image: linear-gradient(140deg, #4ade80 0, #4ade80 33%, #ec4899 66%, #ec4899 66%, #a855f7 100%); -webkit-background-clip: text; color: transparent;">
      Newsletter.com, <%= @user[:name] %>!</span></h3>
      <p style="text-align: center; color: #a855f7; ">
      Thanks for joining our newsletter!</p>
      <div style="position: absolute; top: 100vh; transform: translateY(-225px); width: 100%; color: #b9babb; text-align:center;">
        <p style="text-align: center;">
        feel free to <a style="color: #6593db;" href="unsubscribe link here">unsubscribe</a> anytime</p>
        <a style="color: rgb(107, 114, 128); text-decoration: none;" href="#">
        &copy; Newsletter 2022</a>
        - all rights reserved
      </div>
    </div>
  </body>
</html>