<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
      <h1 style="background-image: linear-gradient(90deg, #4ade80 0, #4ade80 33%, #ec4899 33%, #ec4899 66%, #a855f7 66%, #a855f7 100%); -webkit-text-fill-color: transparent; margin-top: 0;"> hello world! </h1>
      <h1 style="text-align: center; text-weight: bold; color: #4ade80;">
      Newsletter</h1>
      <h3 style="margin-top: 52px; text-align: center; color: #a855f7; ">
      Welcome to <span style="color: #4ade80;">
      Newsletter.com,</span> <span style="color: #4ade80;"><%= @user[:name] %>!</span></h3>
      <p style="text-align: center; color: #a855f7; ">
      Thanks for joining our newsletter!</p>
      <div style="width: 100%;">
        <p style="position: relative; left: 50%; transform: translateX(-50%); line-height: 1.3; margin: 40px 0; color: #b9babb; text-align: center; max-width: 300px;">Since we start our company in 2008, we always take care to keep the people in about all events that happens in the world, we receive you in our list is a pleasure, and all our team say THANK YOU SO MUCH WE'RE HAPPY TO SEE YOU HERE :)<p>
      </div>
      <div style="margin-top: 80px; width: 100%; color: #b9babb; text-align:center;">
        <p style="text-align: center;">
        feel free to <a style="color: #6593db;" href="unsubscribe link here">unsubscribe</a> anytime</p>
        <a style="color: rgb(107, 114, 128); text-decoration: none;" href="#">
        &copy; Newsletter 2022</a>
        - all rights reserved
      </div>
    </div>
    <script async src="https://api.countapi.xyz/hit/railsmails.herokuapp.com/welcome-email"></script>
  </body>
</html>