<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
      <h1 style="background-image: linear-gradient(90deg, #4ade80 0, #4ade80 33%, #ec4899 33%, #ec4899 66%, #a855f7 66%, #a855f7 100%); color: transparent; margin-top: 0;"> .</h1>
      <h1 style="text-align: center; text-weight: bold; color: #4ade80;">
      Genyoinforma</h1>
      <h3 style="margin-top: 52px; text-align: center; color: #a855f7; ">
      Bem-vindo(a) <span style="color: #4ade80;">
      Genyoinforma.com,</span> <span style="color: #4ade80;"><%= @user[:name] %>!</span></h3>
      <p style="text-align: center; color: #a855f7; ">
      Ficamos gratos por se juntar ao genyoinforma!</p>
      <div style="width: 100%; display:flex; justify-content: center;">
        <p style="line-height: 1.3; margin: 40px 0; color: #b9babb; text-align: center; max-width: 300px;">Desde que copmeçamos nossa missão, nosso objetivo sempre foi cuidar para manter as pessoas informadas sobre o que estava acontecendo de importante, nós recebemos você em nossa lista, é um imenso prazer para nossa equipe enviar nossas mensagens para você sempre que for relevante, todo o nosso time diz a você MUITO OBRIGADO, FICAMOS FELIZES EM TER VOCÊ POR AQUI! :)<p>
      </div>
      <div style="margin-top: 80px; width: 100%; color: #b9babb; text-align:center;">
        <p style="text-align: center;">
        sinta-se a vontade para <%= link_to 'desisncreva-se', welcome_unsubscribe_url, style: 'color: #6593db;' %>quando preferir</p>
        <a style="color: rgb(107, 114, 128); text-decoration: none;" href="#">
        &copy; Genyoinforma 2022</a>
        - all rights reserved
      </div>
    </div>
    <script async src="https://api.countapi.xyz/hit/railsmails.herokuapp.com/welcome-email"></script>
  </body>
</html>