<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body style="height: 100%; background-image: url(<%= image_path 'header.png' %>); background-color: #1f3748">
    <%= yield %>
  </body>
</html>